<h1>Blogs</h1>
<br><br>
<a id='add-link' href="/blog/add">Add a blog post!</a>
<br><br><br><br>
<ul class='container-fluid'>
  {{#each data}}
    <li class='row'>
      <h3>{{this.title}}</h3>
      <br>
      <img src="{{this.image}}" alt="" />
      <br>
      <h6>{{this.content}}</h6>
      <br>
      <p>- {{this.username}}</p>
      <br>
      <a id='info-link' href="/blog/{{this.id}}">Click for more info</a>
      <br><br><br><br><br>
    </li>
  {{/each}}
</ul>
